/*  ======== RACINE ======== */

:root {
    font-size: 62.5%;
    --noir: black;
    --secondary: rgb(245, 245, 245);
    --troisieme: #1E6FEB;
    --blanc: white;

    --font-title: 'Inter', system-ui, -apple-system, sans-serif;
    --font-primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}



/*  ======== RESET ======== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*  ======== CSS ======== */

/* ----- INDEX ----- */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary);
    padding: 1.5rem;
    border-bottom: 1px solid rgb(195, 195, 195);

    .logo {

        a {
            font-size: 1.5rem;
            font-weight: 700;
            text-decoration: none;
            color: var(--noir);
        }

        img {
            height: 1.5rem;
            margin-right: 1rem;
        }
    }




    .nav-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 280px;
        height: 100vh;
        background: white;
        box-shadow: -4px 0 20px rgba(0, 0, 0, 0.15);
        transition: right 1s ease;
        z-index: 999;
        padding: 5rem 1.5rem 2rem;
        transform: translateX(100%);

    }

    .checkbox {
        display: none;
    }

    #menu-toggle:checked~.nav-menu {
        right: 0;
        transform: translateX(0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        a {
            font-size: 2rem;
        }

    }

}

.btn-primary,
.btn-secondary {
    padding: 1rem;
    border-radius: 50px;
    font-size: 1.4rem;
    font-weight: bold;
}


.btn-primary {
    background-color: var(--troisieme);
    border: 1px solid rgb(2, 2, 97);
    color: var(--blanc);
}

.btn-secondary {
    background-color: var(--blanc);
    border: 1px solid rgb(237, 237, 237);
}

a {
    text-decoration: none;
    color: var(--noir);
    ;
}


main {
    background-color: #F1F2F6;
    padding: 1.5rem;
}

.card {
    background-color: var(--blanc);
    border-radius: 1.5rem;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid rgb(237, 237, 237);
}

.card img {
    max-width: 100%;   
}

.card nav {
    margin: 2rem 1rem 0;
}

.card nav a {
    border: 1px solid rgb(237, 237, 237);
    padding: 0.5rem;
    background-color: #E5EFFF;
    border-radius: 20px;
}

h1 {
    padding: 1rem 0;
    font-weight: 900;
    font-size: 3rem;
}

p {
    padding: 1rem 0;
}
.card p {
    font-size: 1.5rem;
    color: grey;
    line-height: 1.4;
    padding: 0.3rem 1rem;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem 2rem;
}

.card > p:nth-child(5) {
    font-size: 1rem; 
    padding: 0 1rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 900;
    padding: 0 1rem ;
    
}

.title {
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.cards .card{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.cards .card h3 {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.cards .card a {
    background-color: #E5EFFF;
    margin: 1rem 0 0 1rem;
    border-radius: 20px;
    width: 60px;
    padding: 0.3rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    border: 1px solid #C6CDD7;
}

.device {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.card1 { 
    border: 2px solid #E5E7EA;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.card1 p {
    font-size: 1.5rem;
    font-weight: bold;
}

.card1 span {
    font-size: 1.3rem;
    padding-left: 2rem;
    
}

.sidebar {
    display: grid;
    grid-column: 1fr;
    gap: 1rem;
    margin-bottom: 3rem;
}

.sidebar section {
    border: 2px solid #E5E7EA;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.sidebar section h3 {
    font-size: 1.5rem;
}

.sidebar section p {
    font-size: 1.5rem;
}

.sidebar section .btn-primary {
    width: 190px;
    text-align: center;
}

.sidebar section .btn-secondary {
    width: 160px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 1rem 3rem 1rem;
    border-top: 1px solid #E5E7EA;
}

footer a, p {
    font-weight: 100;
    font-size: 1.4rem;
    color: gray;
}

footer .tab {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h4 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

footer span {
    height: 1px;
    background-color: #C6CDD7;
    width: 100%;
}


/* ----- AGENDA ----- */

form {
    border: 2px solid #E5E7EA;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    margin: 1rem 0;
    
}

form select, #search, input{
    border-radius: 5px;
    height: 35px;
    width: 100%;
    padding: 0.3rem;
    margin: 1rem 0;
    background-color: var(--secondary);
    border: 1px solid gray;
}

#collecte {
    height: 12px;
}

form label {
    font-size: 1.5rem;
    font-weight: bold;
    color: gray;

}

.time-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
    
}

.time-btn {
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: white;
    border-color: #E5E7EA;
    color: grey;font-weight: bold;
}

.btn-page {
    border-radius: 20px;
    border: 1px solid #E5E7EA;
    padding: 1rem;
    margin: 0.5rem;
    color: gray;
    font-weight: bold;
    background-color: white;
}

.cards nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-checkbox {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    margin: 0;
    padding: 0;

    label {
        font-size: 1rem;
    }
}

form button {
    width: 90px;
}

form textarea {
    height: 100px;
    padding: 1rem;
}
.device .card {
    padding: 1rem;

    p {
        font-size: 1.2rem;
        padding: 0;
    }

    ul li {
        font-size: 1.2rem;
        margin: 0.5rem 1.5rem;
        color: grey;
    }
}

/*  ======== RESPONSIVE ======== */



/* Sur tablette (à partir de 768px), 1ère media query */
@media (min-width: 768px) {}



/* Sur ordinateur (à partir de 1024px), 2ème media query */
@media (min-width: 1024px) {}