/*  ======== RACINE ======== */

:root {
    font-size: 62.5%;
    --noir: black;
    --secondary: rgb(245, 245, 245);
    --troisieme: #1E6FEB;
    --blanc: white;

    --font-title: 'Inter', system-ui, -apple-system, sans-serif;
    --font-primary: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}



/*  ======== RESET ======== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/*  ======== CSS ======== */

/* ----- INDEX ----- */

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    border-bottom: 1px solid rgb(195, 195, 195);

}

.logo {
    display: flex;
    flex-direction: row;

}

.logo img {
    width: 80px;
}

header .logo a {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: var(--noir);
}


header .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 280px;
    height: 100vh;
    background: white;
    box-shadow: -4px 0 20px rgba(0, 0, 0, 0.15);
    transition: right 1s ease;
    z-index: 999;
    padding: 5rem 1.5rem 2rem;
    transform: translateX(100%);
}

.checkbox {
    display: none;
}

header #menu-toggle:checked~.nav-menu {
    right: 0;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

header #menu-toggle:checked~.nav-menu a {
    font-size: 2rem;
}




header>div:last-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
}


.btn-primary,
.btn-secondary {
    padding: 1rem;
    border-radius: 50px;
    font-size: 1.4rem;
    font-weight: bold;
}


.btn-primary {
    background-color: var(--troisieme);
    border: 1px solid rgb(2, 2, 97);
    color: var(--blanc);
}

.btn-secondary {
    background-color: var(--blanc);
    border: 1px solid rgb(237, 237, 237);
}



/* ===== MAIN ==== */


main {
    background-color: #F1F2F6;
    padding: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--noir);
    ;
}

.card,
.carta {
    background-color: var(--blanc);
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 2px solid rgb(237, 237, 237);
}

.card nav {
    margin: 2rem 1rem 0;
}

.card nav a {
    border: 1px solid rgb(237, 237, 237);
    padding: 0.5rem;
    background-color: #E5EFFF;
    border-radius: 20px;
}

.card,
.carta p {
    font-size: 1.5rem;
    color: grey;
    line-height: 1.4;
}

img {
    width: 400px;
}

h1 {
    padding: 1rem;
    font-weight: 900;
    font-size: 3rem;
    color: black;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin: 1rem 2rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

h2, h3{
    font-size: 2rem;
    font-weight: 900;
}

p {
    padding: 0.3rem;
}


.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    width: 90vw;
}

.carta {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 100%;
}

.carta h3 {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.carta a {
    background-color: #E5EFFF;
    margin: 1rem 0 ;
    border-radius: 20px;
    width: 60px;
    padding: 0 0.3rem;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    border: 1px solid #C6CDD7;
}


.card1 {
    border: 2px solid #E5E7EA;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.card1 ul {
    padding: 0 3rem;

    li {
        font-size: 1.5rem;
    }
}

.card1 p {
    font-size: 1.5rem;
    font-weight: 100;
    color: black;
}

.card1 span {
    font-size: 1.3rem;
    padding-left: 2rem;

}

.sidebar {
    display: grid;
    grid-column: 1fr;
    gap: 1rem;
    margin-bottom: 3rem;
}

.sidebar section {
    border: 2px solid #E5E7EA;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.sidebar section h3 {
    font-size: 1.8rem;
    font-weight: bolder;
}



.sidebar section p {
    font-size: 1.5rem;
}


.sidebar section .btn-primary {
    width: 190px;
    text-align: center;
}

.sidebar section .btn-secondary {
    width: 160px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 1rem 3rem 1rem;
    border-top: 1px solid #E5E7EA;
}

footer a,
p {
    font-weight: 100;
    font-size: 1.4rem;
    color: gray;
}

footer .tab {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h4 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

footer span {
    height: 1px;
    background-color: #C6CDD7;
    width: 100%;
}


/* ----- AGENDA ----- */

.mainA h1,
h2 {
    color: black;
}

.mainA {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

form {
    border: 2px solid #E5E7EA;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    margin: 1rem 0;
}

form select,
#search,
input {
    border-radius: 5px;
    height: 35px;
    width: 100%;
    padding: 0.3rem;
    margin: 1rem 0;
    background-color: var(--secondary);
    border: 1px solid #C6CDD7;
}


#collecte {
    height: 12px;
}

form label {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;

}

form option {
    color: gray;
}

.time-nav, .btn-nav  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;

}

.time-btn {
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: white;
    border-color: #E5E7EA;
    color: grey;
    font-weight: bold;
}

.btn-page {
    border-radius: 20px;
    border: 1px solid #E5E7EA;
    padding: 1rem;
    margin: 0.5rem;
    color: gray;
    font-weight: bold;
    background-color: white;
}

.cards nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-checkbox {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    margin: 0;
    padding: 0;

    label {
        font-size: 1rem;
    }
}

form button {
    width: 90px;
}

form textarea {
    height: 100px;
    padding: 1rem;
    border-radius: 5px;
    border-color: #C6CDD7;
}

.device .card {
    padding: 1rem;

    p {
        font-size: 1.2rem;
        padding: 0;
    }

    ul li {
        font-size: 1.2rem;
        margin: 0.5rem 1.5rem;
        color: grey;
    }
}

.card2 {
    border-radius: 2px solid grey;
    background-color: white;
    border-radius: 12px;
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h2,
    h3 {
        margin: 2rem 0;
    }

    h3 {
        font-size: 1.5rem;
        margin: 1.5rem;
    }

    ul {
        padding: 1.5rem;
        font-size: 1.2rem;

        span {
            font-weight: bold;
        }
    }


    .spec {
        border-radius: 12px;
        box-shadow: -5px 0 0 0 rgb(28, 148, 188);
        padding: 1rem;
    }
}

.card2 p {
    color: black;

    button {
        border-radius: 20px;
        padding: 1rem;
        border: 1px solid #E5E7EA;
        background-color: white;

    }
}

/*  ======== RESPONSIVE ======== */



/* Sur tablette (à partir de 768px), 1ère media query */
@media (min-width: 768px) {}



/* Sur ordinateur (à partir de 1024px), 2ème media query */
@media (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    footer .tab {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex: 200px 1 1;
        gap: 2rem;

        div,
        nav {
            padding: 2rem;
            width: 300px;
        }
    }

    main {
        padding: 20px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .card1 {
            height: 100%;
        }

    
    }


    .card {
        display: flex;
        flex-direction: row;
        height: 350px;
        width: 1000px;
        justify-content: center;
        align-items: center;
        margin: 2rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 240px);
        /* grid-template-rows: 50px 500px; */
        gap: 1rem;


        .title {
            grid-column: 1/4;
            grid-row: 1/2;
        }

        .c1 {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .c2 {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        .c3 {
            grid-column: 3/4;
            grid-row: 2/3;
        }

        .last {
            grid-column: 1/4;

        }

        .sidebar {
            grid-column: 4/5;
            grid-row: 1/4;
        }

    }

    .carta {
        width: 240px;
        height: 100%;
    }

    .last {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .title {
        width: 740px;

        a {
            font-size: 1.5rem;
        }
    }

    .sidebar section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
    }


    /* ====== AGENDA ====== */

    .mainA {
        display: grid;
        grid-template-columns: 300px 300px 250px;

        .c1 {
            grid-column: 1/4;
            grid-row: 1/2;
        }

        .c2 {
            grid-column: 1/4;
            grid-row: 2/3;
        }

        .c3 {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        .c4 {
            grid-column: 2/3;
            grid-row: 3/4;
        }

        .c5 {
            grid-column: 1/2;
            grid-row: 4/5;
        }

        .c6 {
            grid-column: 2/3;
            grid-row: 4/5;
        }

        .c7 {
            grid-column: 1/2;
            grid-row: 5/6;
        }

        .c8 {
            grid-column: 2/3;
            grid-row: 5/6;
        }

        .c9 {
            grid-column: 1/2;
            grid-row: 6/7;
        }

        .c10 {
            grid-column: 2/3;
        }

        .sidebar {
            grid-column: 3/4;
            grid-row: 3/5;
        }

        .time-nav {
            grid-column: 1/4;
            grid-row: 7/8;
        }

        .carta {
            width: 100%;
            padding: 1rem;
        }

        aside section {
            margin: 0;
            padding: 1rem;
        }

    }

    /* ====== ARTICLE ====== */

    .mainB {
        display: grid;
        grid-template-columns: repeat(3,215px) 250px;
        align-items: center;
        gap: 1rem;

        .c1 {
            grid-column: 1/5;
            grid-row: 1/2;
        }

        .c2 {
            grid-column: 1/5;
            grid-row: 2/3;
        }

         .c3 {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        .c4 {
            grid-column: 2/3;
            grid-row: 3/4;
        }

        .c5 {
            grid-column: 3/4;
            grid-row: 3/4;
        }

        .c6 {
           grid-column: 1/2;
            grid-row: 4/5;
        }

        .c7 {
            grid-column: 2/3;
            grid-row: 4/5
        }

        .c8 {
            grid-column: 3/4;
            grid-row: 4/5
        }

        .c9 {
            grid-column: 1/2;
            grid-row: 5/6;
        }

        .c10 {
            grid-column: 2/3;
            grid-row: 5/6;
            
        }

        .c11 {
            grid-column: 3/4;
            grid-row: 5/6;
        }

        .sidebar {
            grid-column: 4/5;
            grid-row: 3/4;
            margin: 0;
            height: 100%;
        }

        nav {
            grid-column: 1/5;
            grid-row: 6/7;
        }

        aside section {
            margin: 0;
            padding: 1rem;
        }

        .carta {
            width: 100%;

            h2, p {
                padding: 1rem;
            }

            a {
                margin:  1rem 0 0 1rem;
            }


    
        }
    }

    /* ===== CONTACT ===== */

    .mainC {
        display: grid;
        grid-template-columns: 600px 250px;
        gap: 1rem;

        .c1 {
            grid-column: 1/3;
            grid-row: 1/2;
    
        }

        .c2 {
            grid-column: 1/2;
            grid-row: 2/6;
            height: 100%;
        }

        .sidebar {
            grid-column: 2/3;
            grid-row: 2/3;
            margin: 0;
            height: 100%;
        }


    }



    footer p:last-child {
        align-self: center;
    }
}